
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Thin'), 
         local('Roboto-Thin'), 
    url('../fonts/roboto/Robotothin.woff2') format('woff2'), 
    url('../fonts/roboto/Robotothin.woff') format('woff'), 
    url('../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Thin Italic'), 
         local('Roboto-ThinItalic'), 
    url('../fonts/roboto/Robotothinitalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotothinitalic.woff') format('woff'), 
    url('../fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}*/
// @font-face {
//     font-family: 'Roboto';
//     font-display: swap;
//     src: local('Roboto Light'), 
//          local('Roboto-Light'), 
//     url('../fonts/roboto/Robotolight.woff2') format('woff2'), 
//     url('../fonts/roboto/Robotolight.woff') format('woff'), 
//     url('../fonts/roboto/Robotolight.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Light Italic'), 
         local('Roboto-LightItalic'), 
    url('../fonts/roboto/Robotolightitalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotolightitalic.woff') format('woff'), 
    url('../fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}*/
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'), 
         local('Roboto-Regular'), 
    url('../fonts/roboto/Roboto.woff2') format('woff2'), 
    url('../fonts/roboto/Roboto.woff') format('woff'), 
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Italic'), 
         local('Roboto-Italic'), 
    url('../fonts/roboto/Robotoitalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotoitalic.woff') format('woff'), 
    url('../fonts/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Medium'), 
         local('Roboto-Medium'), 
    url('../fonts/roboto/Robotomedium.woff2') format('woff2'), 
    url('../fonts/roboto/Robotomedium.woff') format('woff'), 
    url('../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Medium Italic'), 
         local('Roboto-MediumItalic'), 
    url('../fonts/roboto/Robotomediumitalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotomediumitalic.woff') format('woff'), 
    url('../fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}*/
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Bold'), 
         local('Roboto-Bold'), 
    url('../fonts/roboto/Robotobold.woff2') format('woff2'), 
    url('../fonts/roboto/Robotobold.woff') format('woff'), 
    url('../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Bold Italic'), 
         local('Roboto-BoldItalic'), 
    url('../fonts/roboto/Robotobolditalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotobolditalic.woff') format('woff'), 
    url('../fonts/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}*/
// @font-face {
//     font-family: 'Roboto';
//     font-display: swap;
//     src: local('Roboto Black'), 
//          local('Roboto-Black'), 
//     url('../fonts/roboto/Robotoblack.woff2') format('woff2'), 
//     url('../fonts/roboto/Robotoblack.woff') format('woff'), 
//     url('../fonts/roboto/Robotoblack.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }
/*@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Black Italic'), 
         local('Roboto-BlackItalic'), 
    url('../fonts/roboto/Robotoblackitalic.woff2') format('woff2'), 
    url('../fonts/roboto/Robotoblackitalic.woff') format('woff'), 
    url('../fonts/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
*/




.transform(@property){
  -webkit-transform:@property;
  -moz-transform:@property;
  -ms-transform:@property;
  -o-transform:@property;
  transform:@property;
}

.transition(@time:0.3s, @func:ease){
  -webkit-transition: all @time @func;
  -moz-transition: all @time @func;
  -ms-transition: all @time @func;
  -o-transition: all @time @func;
  transition: all @time @func;
}




.btn{
  .transition;
}

.btn-default{
  &:hover{

  }
}





@media (max-width: 767px) {
  .nomobile{
    display: none;
  }
  .mobile_center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}



input[name="e_mail"]{
  display: none!important;
}
form .successmsg{
  display: none!important;
}
form .ok {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  line-height: 14px;
  font-weight: 600;
}









/*Bootstrap Tabs*/

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}



